.container-menu-title {
    margin-top: 1rem;
  h1 {
    color: white;
    margin: 0.9rem;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 0.6rem;
    text-transform: uppercase;
  }
}
